<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base/sesion :: layout-sesion(~{::title}, ~{::#main-content})}">
<head>
	<meta charset="UTF-8">
	<title th:text="${entidad + ' - Editar'}">titulo</title>
</head>
<body>
	<section class="text-center bg-white p-3" id="main-content" style="max-width: 500px; margin: auto!important;">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a th:href="@{/proveedor}" th:text="${entidad}">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Editar</li>
		  </ol>
		</nav>
	
		<form th:action="@{/proveedor/editar}" th:object="${proveedor}" method="post">
			<div class="row" th:if="${#fields.hasErrors()}">
				<div class="col">
					<div class="alert alert-danger">
						Por favor corrija los errores y vuelva a enviar el formulario
					</div>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-md-3">Id</label>
				<div class="col">
					<span class="form-control text-left" th:text="${proveedor.id}">id</span>
					<input type="hidden" th:field="*{id}" />
				</div>
			</div>
			
			<div class="row" th:if="${#fields.hasErrors('nombre')}">
				<div class="col text-left">
					<small th:errors="*{nombre}" class="text-danger">error</small>
				</div>
			</div>
			<div class="form-group row">
				<label for="nombre" class="col-md-3">Nombre</label>
				<div class="col">
					<input class="form-control" type="text" id="nombre" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')} ? border-danger : border" />
				</div>
			</div>
			
			<div class="row" th:if="${#fields.hasErrors('direccion')}">
				<div class="col text-left">
					<small th:errors="*{direccion}" class="text-danger">error</small>
				</div>
			</div>
			<div class="form-group row">
				<label for="direccion" class="col-md-3">Dirección</label>
				<div class="col">
					<input class="form-control" type="text" id="direccion" th:field="*{direccion}" th:classappend="${#fields.hasErrors('direccion')} ? border-danger : border" />
				</div>
			</div>
			
			<div class="form-group row">
				<label for="habilitado" class="col-md-3">Habilitado</label>
				<div class="col">
					<select class="form-control" id="habilitado" th:field="*{habilitado}">
						<option th:each="itemHabilitado: ${opcionesHabilitado}"
							th:text="${itemHabilitado.leyenda}"
							th:value="${itemHabilitado.valor}"
							th:if="${itemHabilitado.valor != null}">habilitado</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<button class="btn btn-info btn-block">
						Actualizar
					</button>
				</div>
			</div>
		</form>
	</section>	
</body>
</html>