<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base/sesion :: layout-sesion(~{::title}, ~{::#main-content})}">
<head>
	<meta charset="UTF-8">
	<title th:text="${entidad}">titulo</title>
</head>
<body>
	<section class="text-center bg-white p-3 text-center" id="main-content">
	
		<h5 th:text="${entidad}">Entidad</h5>
	
		<div class="row pb-3">
			<div class="col text-right">
				<a th:href="@{/categoria/registrar}"
					class="btn btn-success">
					Nuevo
				</a>
			</div>
		</div>
		
		
		<div class="accordion mb-3" id="accordionBusqueda">
			<div class="card border">
				<div class="card-header" id="headingBusqueda">
					<h2 class="mb-0 text-left">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseBusqueda" aria-expanded="true" aria-controls="collapseBusqueda">
							Búsqueda
						</button>
					</h2>
				</div>
				
				<div id="collapseBusqueda" class="collapse hidde" aria-labelledby="headingBusqueda" data-parent="#accordionBusqueda">
					<div class="card-body">
						<form th:action="@{/categoria/buscar}" th:object="${elementoBusqueda}" method="get" class="text-left">
							<div class="form-row">
								<div class="form-group col-md-3">
									<label for="id" class="font-weight-bolder">Id</label>
									<input type="text" id="id" th:field="*{id}" class="form-control" />
								</div>
								
								<div class="form-group col">
									<label for="nombre" class="font-weight-bolder">Nombre</label>
									<input type="text" id="nombre" th:field="*{nombre}" class="form-control" />
								</div>
							</div>
							<div class="row">	
								<div class="col text-right">
									<input type="reset" class="btn btn-secondary" value="Limpiar" />
									
									<button class="btn btn-info">
										Buscar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row" th:if="${pagina.content.empty}">
			<div class="col">
				<div class="alert alert-warning">
					No se encontró información
				</div>
			</div>
		</div>
		
		<th:block th:if="${!pagina.content.empty}">
			<table class="table border">
				<thead class="bg-light text-info">
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="categoria: ${pagina.content}">
						<td th:text="${categoria.id}">id</td>
						<td th:text="${categoria.nombre}">nombre</td>
						<td>
							<a th:href="@{/categoria/editar/{id}(id=${categoria.id})}">
								<i class="fa fa-edit"></i>
							</a>
						</td>
						<td>
							<a th:href="@{/categoria/eliminar/{id}(id=${categoria.id})}"
								class="text-danger">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		
			<div th:insert="~{base/paginador :: seccion-paginador}">...</div>
		</th:block>
	</section>	
</body>
</html>