<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base/sesion :: layout-sesion(~{::title}, ~{::#main-content})}">
<head>
	<meta charset="UTF-8">
	<title th:text="${entidad + ' - Registrar'}">titulo</title>
</head>
<body>
	<section class="text-center bg-white p-3" id="main-content" style="max-width: 500px; margin: auto!important;">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a th:href="@{/categoria}" th:text="${entidad}">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Registrar</li>
		  </ol>
		</nav>
	
		<form th:action="@{/categoria/registrar}" method="post">
			<div class="form-group row">
				<label for="nombre" class="col-md-3">Nombre</label>
				<div class="col">
					<input class="form-control" type="text" id="nombre" name="nombre" />
				</div>
			</div>
			<div class="row">
				<div class="col">
					<button class="btn btn-info btn-block">
						Registrar
					</button>
				</div>
			</div>
		</form>
	</section>	
</body>
</html>